package $packageName;

/**
 * Created by $username on $date.
 */
$model.getAccess() class $model.getName() {

#foreach( $prop in $model.getProperties() )
    $prop.getAccess() $prop.getDataType() $prop.getName();
#end

#foreach( $meth in $model.getMethods() )
    $meth.getAccess() $meth.getReturnType() $meth.getName()#if( $meth.getArguments().size() > 0 )(#foreach( $arg in $meth.getArguments() )$arg.getType() $arg.getName()#end)#else()#end {
        return
    }
#end

}