class $model.getName()(object):

#foreach( $prop in $model.getProperties() )
    #if( $prop.getAccess() == "private" )_$prop.getName()#else$prop.getName()#end = ''
#end

#foreach( $meth in $model.getMethods() )
    def $meth.getName()(self#if( $meth.getArguments().size() > 0 ), <args>#end):
        return

#end